<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="favicon.ico?v=1.1">
    <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
    <script src="https://kit.fontawesome.com/1e2c9bf03f.js" crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link  href="style.css" rel="stylesheet" />
    <title>Thunder bank</title>
</head>
<body>
    <%- include('nav') -%>
    <div class="box">
        <img src="profile.jpg" alt="" class="box-img">
        <h1>
      Sayak Rana</h1>
      <h5>
      Web Developer || Web Designer || DSA Enthusiast</h5>
      <p>I am Sayak Rana 😃. I am currently a Pre-Final year student at Dept. of Computer Science and Technology,<a href="https://www.iiests.ac.in/"><strong> IIEST Shibpur</strong></a> , exploring various fields of Computer Science.</p>
      <ul>
      <li><a href="http://www.github.com/Sayak-Rana" target="blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/sayak-rana-125a48192/" target="blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
      <!-- <li><a href="#"><i class="fab fa-discord" aria-hidden="true"></i></a></li> -->
      </ul>
      </div>
</body>
</html>