<nav> 
  <ul id="navbar">
    <img class="logo" src="logo3.png">
      <li><a href="/aboutme"> About Me </a></li>
      <li><a href="/viewbalance"> View Balance </a></li>
      <li><a href="/sendmoney"> Send Money</a></li>
      <li><a href="/transactions"> Transaction History </a></li>
      <li><a href="/customers"> View All Customers</a></li>
      <li><a href="/">Home</a></li>
      
    </ul>
  
  </nav>