<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico?v=1.1">
    <link  href="style.css" rel="stylesheet" />
    <title>Thunder Bank</title>
</head>
<body>
    <%- include('nav') -%>
    <table>
        <tr>
          <th>Sender's Account No.</th>
          <th>Receiver's Account No.</th>
          <th>Amount</th>
        </tr>
        
            <% for(var i=0;i<results.length;i++){ %>
                <tr> <td><%= results[i].Senders_acc %></td>
                    <td><%= results[i].Receivers_acc %></td>
                    <td><%= results[i].Amount %></td>
                </tr>
                <% } %>
          </tr>
      </table>
</body>
</html>